.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @include on-ipad {
    gap: 40px;
  }

  &__call {
    height: 18px;
    text-decoration: none;
    background-image: url(../images/phone.svg);

    @include on-ipad {
      height: 24px;
    }
  }

  &__menu-opener {
    height: 12px;
    background-image: url(../images/menu.svg);
    transition: all 0.3s;

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }

    @include on-ipad {
      height: 16px;
    }
  }
}
